/* Estilos para o toolbar em tamanho padrão */

.header {
    background-color: #131212;
    color: #90d422;
    padding: 0 20px;
}

.menu-above .mat-menu-panel {
    top: auto;
    bottom: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-bottom: 20px;
}

.app-toolbar {
    margin-bottom: 20px;
}

.mat-option {
    color: red;
    /* Altere para a cor desejada */
}