<div class="mat-mdc-dialog-surface">


    <h1 mat-dialog-title>
        Editar Pessoa
    </h1>

    <mat-dialog-content>
        <form class="mdc-dialog__container">
            <div class="form-row">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" [(ngModel)]="pessoa.nome" required>
            </div>

            <div class="form-row">
                <label for="sobrenome">Sobrenome:</label>
                <input type="text" id="sobrenome" name="sobrenome" [(ngModel)]="pessoa.sobrenome" required>
            </div>

            <div class="form-row">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" [(ngModel)]="pessoa.cpf" required>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button (click)="salvar()">Salvar</button>
        <button mat-button (click)="cancelar()">Cancelar</button>
    </mat-dialog-actions>
</div>